@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap%27');
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    background: white;
    width: 100%;
    background-size: cover;
}
.nome-curso{
    text-align: center;
    font-size: 40px;
    color: black;

}
.o-curso{
    font-size: 20px;
}
p{
    font-size: 17px;
}
.valor{
    font-size: 30px;
    color:green

}
.infos-posicao{
    padding: 20px;
}

.coluna{
    border-radius: 10px;
    margin: 10px;
    background-color: rgb(202, 202, 202);
}
.col{
    margin: 10px;
}
#margem,#margemPrincipal,#margemLog{
    border: darkgray solid 1px;
     border-radius: 5px;
     margin: 3px;
     cursor:pointer;
     font-size: larger;
   }

   #margem:hover{
     background-color: rgb(127, 123, 123) ;
   }
   #margemLog:hover{
    background-color: rgb(127, 123, 123) ;
  }

   #margemPrincipal:hover{
     background-color: rgb(127, 123, 123) ;
   }

   .card{
    margin: 10%;
    border: darkblue;
    margin-top: 10px;
   }

   .btn btn-primary{
    margin-top: 200px;
   }

   

   .estrelas input[type=radio] {
     display: none;
   }
   .estrelas label i.fa{
     font-size: 2.5em;
     margin-left: 2500%;
 

   }
   .estrelas label i.fa:before {
     content:'\f005';
     color: #FC0;
   }
   .estrelas input[type=radio]:checked ~ label i.fa:before {
     color: #CCC;
   }

   